hr {
    border-top: 1px solid #435754;
    width: 90%;
    margin: 0 auto;
}

.portfolio-page {
    color: #435754;
    overflow: scroll;
}

.title-holder, .movie-tracker, .world-of-flags {
    margin-left: 30px;
    margin-top: 30px;
    width: 95%;
}

.description {
    margin-top: 5px;
    opacity: .85;
    font-size: 1em;
    margin-bottom: 10px;
}

.description-title, .mt-description, .deployed-links, .tech-used-title, .tech-holder, .deployed-container {
    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.description-title, .tech-used-title, .deployed-links {
    font-size: 1.5em;
}

.tech-used-title, .deployed-links {
    margin-top: 50px;
}

.mt-description {
    opacity: .85;
    font-size: 1em;
}

.movie-tracker, .world-of-flags {
    font-size: .85em;
}

.mt-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.mt-right {
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tech-holder, .deployed-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.tech-links, .heroku {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border: 1px solid #435754;
    background-color: #435754;
    color: white;
    padding: 2px 15px;
    margin: 5px;
    width: 100px;
}

.mt-login {
    margin-bottom: 30px;
}

.deployed-container {
    flex-wrap: nowrap;
}

.heroku {
    padding: 10px 25px;
    width: 40%;
}

.mt-home, .mt-login, .wof-home, .wof-login, .eyoe-home, .eyoe-compare, .weather-home, .weather-autofill, .weather-tenday, .sw-home, .sw-people, .sw-favorites {
    width: 100%;
    height: auto;
    margin-bottom: 15px;
}

@media screen and (max-width: 910px) {
    .mt-home, .mt-login, .wof-home, .wof-login, .eyoe-home, .eyoe-compare, .weather-home, .weather-autofill, .weather-tenday, .sw-home, .sw-people, .sw-favorites {
        width: 100%;
        height: auto;
    }

    .mt-info {
        display: grid;
        grid-template-columns: 1fr;
    }

    .title-holder, .movie-tracker, .world-of-flags {
        margin-left: 0px;
        margin-top: 0px;
        width: 100%;
    }

    .deployed-container {
        margin-bottom: 15px;
    }
}