.aside {
    background: linear-gradient(
        rgba(67, 87, 84, 0.45), 
        rgba(67, 87, 84, 0.45)
      ), url('../utils/aside.jpeg');
    height: 100%;
    width: 100%;
}
.pic-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}
.profile-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

.name, .title {
    color: white;
    margin-top: 10px;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
}

.info-links {
    border: none;
    background: transparent;
    color: white;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    margin-left: 125px;
    opacity: 0.5;
    transition: all .2s ease-in-out;
}

.info-links:hover {
    transform: scale(1.5);
    opacity: 1;
}

.info-links:active {
    opacity: 1;
    font-size: 150%;
}