blockquote {
    border-left: 5px solid #435754;
    color: #435754;
    font-size: 75%;
    font-weight: 400;
    margin: 20px 0;
    opacity: 0.85;
    padding-left: 1.5rem;
    margin-bottom: 50px;
    margin-left: 30px;
}

hr {
    border-top: 1px solid #435754;
    width: 90%;
    margin: 0 auto;
}

.about {
    overflow: scroll;
}

.about-header {
    margin-top: 30px;
    margin-left: 30px;
}

.about-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #435754;
    width: 100%;
}

.current-focus {
    margin-left: 30px;
    margin-top: 90px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 25px;
    font-weight: bold;
}

.focus-link {
    text-decoration: none;
    color: #A49B8B;
    font-weight: 200;
}

.about-me {
    margin-left: 30px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 25px;
}

.main-pic {
    display: flex;
    justify-content: flex-end;
}

.hiking-pic {
    display: flex;
    justify-content: flex-start;
    margin-top: 25px;
}

.my-story {
    margin-top: 25px;
    margin-bottom: 25px;
    padding-left: 30px;
    padding-right: 25px;
}

.kevin {
    height: auto; 
    width: auto; 
    max-width: 400px;
    max-height: 600px;
}

@media screen and (max-width: 1100px) {
    .kevin {
        max-width: 400px;
        max-height: 600px;
    }

    .about-section {
        grid-template-columns: 1fr 1fr;
        color: #435754;
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .about-section {
        grid-template-columns: 1fr;
    }
    
    .kevin {
        min-width: 700px;
        min-height: 900px;
        object-fit: contain;
    }

    .hiking-pic {
        display: none;
    }
}

@media screen and (max-width: 400px) {
    blockquote {
        font-size: 50%;
        font-weight: 400;
        margin: 20px 0;
        opacity: 0.85;
        padding-left: 1.5rem;
        margin-bottom: 50px;
        margin-left: 30px;
    }

    p {
        font-size: .75em;
    }

    .kevin {
        width: 100%;
        height: auto;
    }

    .about-left {
        width: 90%;
    }

    .about-me {
        margin-left: 20px;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 20px;
    }

    .current-focus {
        font-size: .75em;
        margin-left: 30px;
        margin-top: 90px;
        margin-bottom: 25px;
        padding-left: 10px;
        padding-right: 25px;
        font-weight: bold;
    }
}